<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Careers page</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        #banner_img{
            height: 360px;
            object-fit: cover;
            width: 100%;
            margin-bottom: 16px;
        }
    </style>
</head>
<body>
    {% include 'navbar.html' %}
    <img class="img-fluid" id="banner_img" src="http://127.0.0.1:5000/static/Just_do_it.jpg" alt="">
    <div class="container-fluid ps-5 pe-5">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <!-- <h2 class="text-center mt-2 mb-4">About Phi</h2> -->
        <div class="row" style="margin-bottom: 32px;">
            <div class="col-md-8">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="d-none d-md-block col-md-4">
                <img src="/static/People_working.jpg" style="height: 320px; border-radius: 8px;">
            </div>
        </div>
        <h2 class="text-center mt-2 mb-4">Job Openings</h2>
        <div>
            {% for job in jobs %}
                {% include 'jobitem.html' %}
            {% endfor %}
        </div>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" target="_blank" href="mailto:phayeishaan@gmail.com?subject=Question%20about%20job%20openings&body=Wanted%20to%20ask%20some%20questions%20regarding%20jobs.%20Can%20we%20talk%3F%20Here's%20my%20phone%20no.%20%3Cnumber%3E">
                Contact
            </a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    {% include 'footer.html' %}
</body>
</html>